<div class="section padding-top-bottom background-grey over-hide">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                {% setcontent bs = "mimosa/1" %}

                <div class="pricing dark p-xl-5 text-center">
                    <h3>{{ bs.title_bs }}</h3>
                    <div class="pricing-sub mb-4">{{ bs.mois_bs }}</div>
                    <div class="pricing-price mt-3"><sup>€</sup>{{ bs.prix_bs }}</div>
                    <div class="pricing-per mt-2">{{ bs.content_bs }}</div>
                    <div class="pricing-line mt-4"></div>		
                    <ul class="list-style mt-4">
                        <li><i class="fa fa-check"></i>{{ bs.desc_bs_1 }}</li>
                        <li><i class="fa fa-check"></i>{{ bs.desc_bs_2 }}</li>
                        <li><i class="fa fa-check"></i>{{ bs.desc_bs_3 }}</li>
                        <li><i class="fa fa-check"></i>{{ bs.desc_bs_4 }}</li>

                    </ul>
                    <button class="btn btn-primary mt-4" type="button">Order Now</button>	
                </div>
            </div>	
            <div class="col-md-4">
                <div class="pricing dark p-xl-5 text-center">
                    <div class="ribbon"><i class="funky-ui-icon icon-Ribbon-2"></i></div>
                    <h3>{{ bs.title_ms }}</h3>
                    <div class="pricing-sub mb-4">{{ bs.mois_ms }}e</div>
                    <div class="pricing-price mt-3"><sup>€</sup>{{ bs.prix_ms }}</div>
                    <div class="pricing-per mt-2">{{ bs.content_ms }}</div>
                    <div class="pricing-line mt-4"></div>		
                    <ul class="list-style mt-4">
                        <li><i class="fa fa-check"></i>{{ bs.desc_ms_1 }}</li>
                        <li><i class="fa fa-check"></i>{{ bs.desc_ms_2 }}</li>
                        <li><i class="fa fa-check"></i>{{ bs.desc_ms_3 }}</li>
                        <li><i class="fa fa-check"></i>{{ bs.desc_ms_4 }}</li>
                    </ul>
                    <button class="btn btn-primary mt-4" type="button">Order Now</button>	
                </div>
            </div>	
            <div class="col-md-4">
                <div class="pricing p-xl-5 dark text-center">
                    <h3>{{ bs.title_hs }}</h3>
                    <div class="pricing-sub mb-4">{{ bs.mois_hs }}</div>
                    <div class="pricing-price mt-3"><sup>€</sup>{{ bs.prix_hs }}</div>
                    <div class="pricing-per mt-2">{{ bs.content_hs }}</div>
                    <div class="pricing-line mt-4"></div>		
                    <ul class="list-style mt-4">
                        <li><i class="fa fa-check"></i>{{ bs.desc_hs_1 }}</li>
                        <li><i class="fa fa-check"></i>{{ bs.desc_hs_2 }}</li>
                        <li><i class="fa fa-check"></i>{{ bs.desc_hs_3 }}</li>
                        <li><i class="fa fa-check"></i>{{ bs.desc_hs_4 }}</li>
                    </ul>
                    <button class="btn btn-primary mt-4" type="button">Order Now</button>	
                </div>
            </div>
        </div>
    </div>
</div>