{% extends 'partial/_master.twig' %}

{% block content %}


{{ include ('partial/nav.twig') }}
{{ include ('partial/_header.twig') }}
{{ include ('gite_composant/icon_barre.twig') }}
{{ include ('gite_composant/calltoaction.twig') }}
{{ include ('gite_composant/gite.twig') }}
{{ include ('gite_composant/activity.twig') }}
{{ include ('gite_composant/footer.twig') }}




    <div class="scroll-to-top"><i class="fa fa-angle-up"></i></div>
    
    {% endblock content %}
   
