<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>Agence bulle2com</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="theme-color" content="#212121"/>
    <meta name="msapplication-navbutton-color" content="#212121"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#212121"/>

	<!-- Web Fonts 
	================================================== -->
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet"/>	
	
	<!-- CSS
	================================================== -->
			<link rel="stylesheet" href="theme/jm1/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="theme/jm1/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="theme/jm1/css/mind-icons-line.css"/>
	<link rel="stylesheet" href="theme/jm1/css/funky-style.css"/>
	<link rel="stylesheet" href="theme/jm1/css/owl.carousel.css"/>
	<link rel="stylesheet" href="theme/jm1/css/owl.transitions.css"/>
	<link rel="stylesheet" href="theme/jm1/css/colors/color-green.css"/>
			
	<!-- Favicons
	================================================== -->
	<link rel="icon" type="image/png" href="favicon.png">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
	
	
</head>
<body class="royal_preloader">	
	
	<div id="royal_preloader"></div>

	
	<!-- Nav and Logo
	================================================== -->
	
	<div id="menu-wrap" class="cbp-af-header black-menu-background-1st-trans menu-fixed-padding menu-shadow">
		<div class="container">
			<div class="row">
				<div class="col-md-12">	
					<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse not-transparent bg-faded">
						<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavMenuMain" aria-controls="navbarNavMenuMain" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<!--<a class="navbar-brand" href="index.html">
							<img src="http://www.masducigalon.com/media/logo.png" alt="" class="">
						</a>-->
						<div class="collapse navbar-collapse justify-content-end" id="navbarNavMenuMain">
							<ul class="navbar-nav">
								<li class="nav-item dropdown mega-menu active">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-mainNav-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Home
									</a>
									
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-mainNav-33" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Nos Gites
									</a>
									<div class="dropdown-menu dark" aria-labelledby="navbarDropdownMenuLink-mainNav-33">
										<div class="sub-menu-wrap">
											<a class="dropdown-item" href="#">Mimosa</a>
											
										</div>
										<div class="sub-menu-wrap">
											<a class="dropdown-item" href="#">Lavande</a>
											
										</div>
										<div class="sub-menu-wrap">
											<a class="dropdown-item" href="#">Le Mas</a>
											
										</div>
										
										
										
									</div>	
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-mainNav-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Activités
									</a>
									
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-mainNav-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Gallerie
									</a>
									
								</li>
                                                                <li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink-mainNav-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Contact
									</a>
									
								</li>
								<li class="nav-item icons-item-menu">
									<a class="nav-link ml-4" href="#"><i class="fa fa-heart"></i></a>
								</li>
								<li class="nav-item dropdown icons-item-menu">
									<a class="nav-link" href="#" id="navbarDropdownMenuLink-shop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-shopping-bag"></i>
									</a>
									<div class="dropdown-menu dark dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink-shop">
										<div class="drop-shop-block">
											<span class="close"></span>
											<img src="img/shop1.jpg" alt="" class="rounded">
											<h6>Shop item one</h6>
											<div class="clearfix"></div>
											<p>2 x $47.00</p>
											<div class="clearfix"></div>
											<div class="dropdown-divider"></div>
										</div>
										<div class="drop-shop-block">
											<span class="close"></span>	
											<img src="img/shop2.jpg" alt="" class="rounded">
											<h6>Shop item two</h6>
											<div class="clearfix"></div>
											<p>1 x $72.00</p>
											<div class="clearfix"></div>
											<div class="dropdown-divider"></div>
										</div>
										<div class="clearfix"></div>
										<p><span>Subtotal:</span> <strong>$166.00</strong></p>
										<div class="clearfix"></div>
										<div class="dropdown-divider"></div>
										<button class="btn btn-default btn-sm float-left">view cart</button>
										<button class="btn btn-primary btn-sm float-right">checkout</button>
										<div class="clearfix"></div>
									</div>
								</li>
								<li class="nav-item icons-item-menu modal-search">
									<a class="nav-link" href="#" data-toggle="modal" data-target="#Modal-search"><i class="fa fa-search"></i></a>
								</li>
							</ul>
						</div>
					</nav>		
				</div>
			</div>	
		</div>		
	</div>
	
	
	<!-- Search -->
	<div class="modal fade default search-modal" id="Modal-search" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header justify-content-end">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="hero-center-wrap move-top">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-6">
									<input type="search" value="" placeholder="Search" class="form-control" />
									<button class="btn btn-primary btn-icon btn-round" type="submit" value="search">
										<i class="fa fa-search"></i>
									</button>
								</div>
							</div>	
						</div>	
					</div>	
				</div>
			</div>
		</div>
	</div>
        <!-- HEADER -->
      
      

<!-- Primary Page Layout
	================================================== -->

	<!-- Hero Block
	================================================== -->
	
	<div class="section full-height-2 over-hide">
		<div class="parallax" style="background-image: url('https://franconne.com/images/zwembad/pano.jpg')"></div>
		<div class="grey-fade-over"></div>	
		<div class="hero-bottom-2-wrap z-bigger">
			<div class="container parallax-fade-top">
				<div class="row mb-5">
					<div class="col-md-12 mb-4">	
						<h3 class="color-white">Gîte Mimosa<br>2 personnes</h3>
					</div>	
					<div class="col-md-12 mb-5">
						<div class="separator-wrap">	
							<span class="separator"><span class="separator-line dashed"></span></span>
						</div>	
					</div>	
				</div>		
			</div>
		</div>
	</div>
         <!-- Icons Block
	================================================== -->
	
	<div class="section padding-top-bottom-small background-dark over-hide">
		<div class="container">	
			<div class="row">
				<div class="col-md-4 col-lg-2">	
					<div class="services-box-2 dark text-center">
						<i class="funky-ui-icon icon-Monitor-phone"></i>
						<p class="mt-3">Responsive</p>
					</div>
				</div>
				<div class="col-md-4 col-lg-2 mt-4 mt-md-0">	
					<div class="services-box-2 dark text-center">
						<i class="funky-ui-icon icon-Approved-Window"></i>
						<p class="mt-3">Perfect Design</p>
					</div>
				</div>
				<div class="col-md-4 col-lg-2 mt-4 mt-md-0">	
					<div class="services-box-2 dark text-center">
						<i class="funky-ui-icon icon-Duplicate-Window"></i>
						<p class="mt-3">Bootstrap 4</p>
					</div>
				</div>
				<div class="col-md-4 col-lg-2 mt-4 mt-lg-0">	
					<div class="services-box-2 dark text-center">
						<i class="funky-ui-icon icon-Downward"></i>
						<p class="mt-3">Free Updates</p>
					</div>
				</div>
				<div class="col-md-4 col-lg-2 mt-4 mt-lg-0">	
					<div class="services-box-2 dark text-center">
						<i class="funky-ui-icon icon-Layer-Forward"></i>
						<p class="mt-3">Modal Style</p>
					</div>
				</div>
				<div class="col-md-4 col-lg-2 mt-4 mt-lg-0">	
					<div class="services-box-2 dark text-center">
						<i class="funky-ui-icon icon-Support"></i>
						<p class="mt-3">Support</p>
					</div>
				</div>
			</div>
		</div>		
	</div>

 <!-- Parallax Block
	================================================== -->
	
	<div class="section padding-top-bottom">
            
		<div class="parallax" style="background-image: url('https://i0.bookcdn.com/data/Photos/Big/2477/247746/247746645/Gite-Mas-Du-Cigalon-photos-Exterior-Hotel-information.JPEG')"></div>
		<div class="grey-fade-over"></div>
		<div class="container z-bigger">
			<div class="row">
				<div class="col-md-5">
					<div class="section p-5 background-dark rounded-2">
						<div class="main-subtitle-top mb-4">FOCUSED ON STRATEGY</div>
						<h4 class="mb-4 color-white">We build brands!</h4>
						<p class="color-white mb-0">Some people think design means how it looks. But of course, if you dig deeper, it's really how it works. Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people. Space and light and order.</p>
					</div>
				</div>
			</div>	
		</div>		
	</div>

   <!-- Call To Action Block
	================================================== -->
	
	<div class="section padding-top-bottom-smaller background-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-9">	
					<div class="call-box-3 text-center text-md-left dark">
						<h5 class="mb-3 color-white">Vous souhaitez plus d'information.</h5>
						<p class="mb-0">ou réserver un séjour ?</p>
					</div>	
				</div>
				<div class="col-md-3 mt-4 mt-md-0">
					<div class="call-box-3 text-center text-md-right">
						<a href="portfolio-masonry-3col.html" class="btn btn-primary btn-simple btn-round btn-long mt-0 mt-md-4" >Contactez nous</a>
					</div>	
				</div>
			</div>	
		</div>		
	</div>
        <!-- Testimonials Block With Parallax Background Image
	================================================== -->	
	<div class="section padding-top-bottom background-grey over-hide">
		<div class="container">
			<div class="row justify-content-center">
                            <div class="col-md-4">
                                {% setcontent bs = "mimosa/1" %}
                               
					<div class="pricing dark p-xl-5 text-center">
						<h3>{{ bs.title_bs }}</h3>
						<div class="pricing-sub mb-4">{{ bs.mois_bs }}</div>
						<div class="pricing-price mt-3"><sup>€</sup>{{ bs.prix_bs }}</div>
						<div class="pricing-per mt-2">{{ bs.content_bs }}</div>
						<div class="pricing-line mt-4"></div>		
						<ul class="list-style mt-4">
							<li><i class="fa fa-check"></i>{{ bs.desc_bs_1 }}</li>
							<li><i class="fa fa-check"></i>{{ bs.desc_bs_2 }}</li>
							<li><i class="fa fa-check"></i>{{ bs.desc_bs_3 }}</li>
							<li><i class="fa fa-check"></i>{{ bs.desc_bs_4 }}</li>
			
						</ul>
						<button class="btn btn-primary mt-4" type="button">Order Now</button>	
					</div>
				</div>	
				<div class="col-md-4">
					<div class="pricing dark p-xl-5 text-center">
						<div class="ribbon"><i class="funky-ui-icon icon-Ribbon-2"></i></div>
						<h3>{{ bs.title_ms }}</h3>
						<div class="pricing-sub mb-4">{{ bs.mois_ms }}e</div>
						<div class="pricing-price mt-3"><sup>€</sup>{{ bs.prix_ms }}</div>
						<div class="pricing-per mt-2">{{ bs.content_ms }}</div>
						<div class="pricing-line mt-4"></div>		
						<ul class="list-style mt-4">
			<li><i class="fa fa-check"></i>{{ bs.desc_ms_1 }}</li>
							<li><i class="fa fa-check"></i>{{ bs.desc_ms_2 }}</li>
							<li><i class="fa fa-check"></i>{{ bs.desc_ms_3 }}</li>
							<li><i class="fa fa-check"></i>{{ bs.desc_ms_4 }}</li>
						</ul>
						<button class="btn btn-primary mt-4" type="button">Order Now</button>	
					</div>
				</div>	
				<div class="col-md-4">
					<div class="pricing p-xl-5 dark text-center">
						<h3>{{ bs.title_hs }}</h3>
						<div class="pricing-sub mb-4">{{ bs.mois_hs }}</div>
						<div class="pricing-price mt-3"><sup>€</sup>{{ bs.prix_hs }}</div>
						<div class="pricing-per mt-2">{{ bs.content_hs }}</div>
						<div class="pricing-line mt-4"></div>		
						<ul class="list-style mt-4">
<li><i class="fa fa-check"></i>{{ bs.desc_hs_1 }}</li>
							<li><i class="fa fa-check"></i>{{ bs.desc_hs_2 }}</li>
							<li><i class="fa fa-check"></i>{{ bs.desc_hs_3 }}</li>
							<li><i class="fa fa-check"></i>{{ bs.desc_hs_4 }}</li>
						</ul>
						<button class="btn btn-primary mt-4" type="button">Order Now</button>	
					</div>
				</div>
                </div>
                                    </div>
            
            <div class="section padding-top-bottom z-bigger-2">	
		<div class="parallax-1" style="background-image: url('theme/jm1/img/parallax-9.jpg')"></div>
		<div class="grey-fade-over"></div>
		<div class="container z-bigger">
			<div class="row justify-content-center">
				<div class="col-md-8">	
					<div class="main-title on-dark text-center">
						<div class="main-subtitle-top mb-4">LATEST WORK</div>
						<h3>We Take Pride In Delivering Only The Best.</h3>
						<div class="main-subtitle-bottom mt-3">we do magic</div>	
					</div>	
				</div>
			</div>	
		</div>		
		<div class="container-fluid z-bigger">
			<div class="row">
				<div class="work-slider-wrap mb-4">
					<div id="owl-work" class="owl-carousel owl-theme on-dark">											 
						<div class="item">
							<a href="project-image.html">
								<div class="portfolio-box-1 dark rounded">	
									<img  src="http://www.gites-grandpre.com/wp-content/uploads/2015/05/location-gites-tarn-et-garonne.jpg" alt="" />	
									<div class="portfolio-mask-2 rounded"></div>
									<h5 class="on-center text-center">primarily serve people</h5>
									<p class="on-center text-center">design, motion</p>
								</div>	
							</a>	
						</div>									 
						<div class="item">
							<a href="project-image.html">
								<div class="portfolio-box-1 dark rounded">	
									<img  src="http://www.gites-grandpre.com/wp-content/uploads/2015/05/location-gites-tarn-et-garonne.jpg" alt="" />	
									<div class="portfolio-mask-2 rounded"></div>
									<h5 class="on-center text-center">primarily serve people</h5>
									<p class="on-center text-center">design, motion</p>
								</div>	
							</a>	
						</div>									 
						<div class="item">
							<a href="project-image.html">
								<div class="portfolio-box-1 dark rounded">	
									<img  src="http://www.gites-grandpre.com/wp-content/uploads/2015/05/location-gites-tarn-et-garonne.jpg" alt="" />	
									<div class="portfolio-mask-2 rounded"></div>
									<h5 class="on-center text-center">primarily serve people</h5>
									<p class="on-center text-center">design, motion</p>
								</div>	
							</a>	
						</div>									 
						<div class="item">
							<a href="project-image.html">
								<div class="portfolio-box-1 dark rounded">	
									<img  src="http://www.gites-grandpre.com/wp-content/uploads/2015/05/location-gites-tarn-et-garonne.jpg" alt="" />	
									<div class="portfolio-mask-2 rounded"></div>
									<h5 class="on-center text-center">primarily serve people</h5>
									<p class="on-center text-center">design, motion</p>
								</div>	
							</a>	
						</div>									 
						<div class="item">
							<a href="project-image.html">
								<div class="portfolio-box-1 dark rounded">	
									<img  src="http://www.gites-grandpre.com/wp-content/uploads/2015/05/location-gites-tarn-et-garonne.jpg" alt="" />	
									<div class="portfolio-mask-2 rounded"></div>
									<h5 class="on-center text-center">primarily serve people</h5>
									<p class="on-center text-center">design, motion</p>
								</div>	
							</a>	
						</div>									 
						<div class="item">
							<a href="project-image.html">
								<div class="portfolio-box-1 dark rounded">	
									<img  src="http://www.gites-grandpre.com/wp-content/uploads/2015/05/location-gites-tarn-et-garonne.jpg" alt="" />	
									<div class="portfolio-mask-2 rounded"></div>
									<h5 class="on-center text-center">primarily serve people</h5>
									<p class="on-center text-center">design, motion</p>
								</div>	
							</a>	
						</div>									 
						<div class="item">
							<a href="project-image.html">
								<div class="portfolio-box-1 dark rounded">	
									<img  src="http://www.gites-grandpre.com/wp-content/uploads/2015/05/location-gites-tarn-et-garonne.jpg" alt="" />	
									<div class="portfolio-mask-2 rounded"></div>
									<h5 class="on-center text-center">primarily serve people</h5>
									<p class="on-center text-center">design, motion</p>
								</div>	
							</a>	
						</div>									 
						<div class="item">
							<a href="project-image.html">
								<div class="portfolio-box-1 dark rounded">	
									<img  src="img/portfolio/grid/8.jpg" alt="" />	
									<div class="portfolio-mask-2 rounded"></div>
									<h5 class="on-center text-center">primarily serve people</h5>
									<p class="on-center text-center">design, motion</p>
								</div>	
							</a>	
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>

      
     
        <!-- FOOTER 
        ================================================ -->
        <!-- Footer Dark Block
	================================================== -->
	
	<div class="section padding-top background-dark-2 over-hide footer-1 dark z-bigger-2">
		<div class="container">
			<div class="row">
                            <!-- ====== Block 1 Footer ======= -->
				<div class="col-md-6 mt-4 mt-md-0 logo-footer-100">
                                    <h2 class="mb-5 color-white">Contact</h2>
					<div class="separator-wrap">	
						<span class="separator"><span class="separator-line dashed"></span></span>
					</div>
					<ul class="list-style mt-3 mb-3">
                                            <li><i class="fa fa-envelope-o"></i><a href="#">Gite le Mas du Cigalon </br>
                                                    409, Chemin des Chinaies</br>
84800 Saumane-de-Vaucluse</a></li>
				
						<li><i class="fa fa-phone"></i><a href="#">+33 (0)4 90 389 470 </a></li>
                                                <li><i class="fa fa-phone"></i><a href="#">+33 (0)6 85 830 697 </a></li>
			
					</ul>
					<div class="separator-wrap">	
						<span class="separator"><span class="separator-line dashed"></span></span>
					</div>
				</div>
                            <!-- ====== Block 2 Footer ======= -->
			
                            <!-- ====== Block 3 Footer ======= -->
				<div class="col-md-6 mt-4 mt-md-0">
					<div class="row justify-content-center">
					<div class="col-md-6">	
						<div class="subscribe-box-1">
							<input type="text" value="" placeholder="Votre Nom *" class="form-control" />
						</div>		
					</div>
					<div class="col-md-6 mt-4 mt-md-0">	
						<div class="subscribe-box-1">
							<input type="text" value="" placeholder="Votre Prénom" class="form-control" />
						</div>		
					</div>
					<div class="clear"></div>
					<div class="col-md-6 mt-4">	
						<div class="subscribe-box-1">
							<input type="text" value="" placeholder="Votre Téléphone" class="form-control" />
						</div>		
					</div>
					<div class="col-md-6 mt-4">	
						<div class="subscribe-box-1">
							<input type="text" value="" placeholder="Votre Email *" class="form-control" />
						</div>		
					</div>
					<div class="clear"></div>
					<div class="col-md-12 mt-4">	
						<div class="subscribe-box-1">
							<textarea name="message"  placeholder="Votre Message *" class="for-textarea form-control" ></textarea>
						</div>		
					</div>
					<div class="clear"></div>
					<div class="col-md-12 text-center pt-5">	
						<div class="checkbox primary line-icon on-light">
							<input id="checkboxForm" type="checkbox">
							<label for="checkboxForm">
								Je ne suis pas un robot
							</label>
						</div>
					</div>
					<div class="col-md-12 mt-5 text-center">
						<button class="btn btn-primary btn-round btn-long" type="button">Envoyer</button>		
					</div>
				</div>
				</div>
                            <!-- ====== Block 4 Footer ======= -->
				
			</div>
		</div>	
		<div class="container scd-foot padding-top-small padding-bottom-smaller">
			<div class="row">
				<div class="col-md-6">
					<p>© 2018 Agence Bulle2com prowered  <i class="fa fa-heart"></i> by <a href="https://agence-bulle2com.fr" target="_blank">Agence Bulle2com</a>!</p>
				</div>
				<div class="col-md-6">
					<ul class="footer-social">
						<li class="twitter">
							<a href="#">Tw</a>
						</li>
						<li class="facebook">
							<a href="#">Fb</a>
						</li>
						<li class="google">
							<a href="#">G+</a>
						</li>
						<li class="vimeo">
							<a href="#">Vm</a>
						</li>
					</ul>
				</div>
			</div>
		</div>	
	</div>
	

	<div class="scroll-to-top"><i class="fa fa-angle-up"></i></div>
        	<!-- JAVASCRIPT
    ================================================== -->
        	<script type="text/javascript" src="theme/jm1/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="theme/jm1/js/royal_preloader.min.js"></script> 
	<script type="text/javascript" src="theme/jm1/js/tether.min.js"></script>
	<script type="text/javascript" src="theme/jm1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="theme/jm1/js/plugins.js"></script> 
	<script type="text/javascript" src="theme/jm1/js/custom/custom-creative-agency.js"></script>

</html>